body {
    background-color: white;
}

div .jumbotron{
  background: url("https://i.imgur.com/gpfJVj1g.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;

}

div #two{
  background-color: black;
  color: white;
  padding: 16px 30px 16px 30px;
  font-size: 16px;
  border-radius: 10px;
}

h1 {
  font-family: 'futura', sans-serif;
  color: white;
  font-style: bold;
}

h3 {
  color: white;
  font-family: Montserrat;
  font-style: light;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FBCCA5;
}

function myMap() {
    var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.12),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
