body {
    background-color: white;
}

div .jumbotron{
    background: linear-gradient(to bottom, #00ffcc 0%, #cc66ff 100%);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-style: bold;
}

h3 {
  color: white;
  font-family: Montserrat;
  font-style: light;
}

button {
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-style: oblique;
}
